body
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif

#testTable
    border-collapse collapse
    white-space: nowrap;
    thead
        background-color black
        color white
    tbody
        overflow-y scroll
    th,
    td
        padding 10px
        text-align left